* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'sans-serif';
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 90%; /* Adjusted for responsiveness */
    max-width: 540px;
    background: #fff;
    margin: 50px auto 20px; /* Adjusted margin for better spacing */
    padding: 20px 20px 50px; /* Adjusted padding for better spacing */
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 10px; /* Adjusted padding */
    margin-bottom: 15px; /* Adjusted margin */
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px; /* Adjusted font size */
}

button {
    border: none;
    outline: none;
    padding: 12px 30px; /* Adjusted padding */
    background: #ff5945;
    color: #fff;
    font-size: 14px; /* Adjusted font size */
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 16px; /* Adjusted font size */
    padding: 12px 8px 8px 50px; /* Adjusted padding */
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 24px; /* Adjusted size */
    width: 24px; /* Adjusted size */
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px; /* Adjusted size */
    height: 30px; /* Adjusted size */
    padding: 8px; /* Adjusted padding */
    font-size: 14px; /* Adjusted font size */
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .todo-app {
        width: 90%; /* Adjusted width for smaller screens */
    }
    button {
        padding: 10px 20px; /* Adjusted padding for smaller screens */
    }
}
